# default owner
*   @rjouhann

# code
internal/* @pontovinte @elXaptation @medzin @rjouhann

# docs
docs/*  @caitlinwheeless @elXaptation @rjouhann
templates/*  @caitlinwheeless @elXaptation @rjouhann
examples/*  @caitlinwheeless @elXaptation @rjouhann