# PacketFabric
pf_account_uuid = "abcd-ebgh-ijkl-mnop-qrst" # Billing Account ID
pf_api_key = "api-secret"

# Google
gcp_project_id = "my-project-id"
gcp_credentials = "/Users/myuser/secret.json" # Path + Name of the JSON file containing your GCP credentials

# Azure
subscription_id = "abc-def-jhk"
client_id       = "zwe-dfg-sed" 
client_secret   = "secret"
tenant_id       = "abc"

public_key = "ssh-rsa AAAA...= user@mac.lan" # to access the VM created in Google and Azure