### PacketFabric
export TF_VAR_pf_api_server="https://api.packetfabric.com"
export TF_VAR_pf_api_key="abcd-ebgh-ijkl-mnop-qrst"
export TF_VAR_pf_account_uuid="abcd-ebgh-ijkl-mnop-qrst" # Billing Account ID

### AWS
export TF_VAR_pf_aws_account_id="123456789"
export TF_VAR_aws_access_key = "ABCDEFGH"
export TF_VAR_aws_secret_key = "secret"

### Azure
export TF_VAR_subscription_id="abc-def-jhk"
export TF_VAR_client_id="zwe-dfg-sed" 
export TF_VAR_client_secret="secret" 
export TF_VAR_tenant_id="abc"

### Google
export TF_VAR_gcp_project_id="my-project-id"
export TF_VAR_gcp_credentials="/Users/myuser/secret.json"

### Oracle
export TF_VAR_tenancy_ocid="ocid1.tenancy.oc1..1234"
export TF_VAR_user_ocid="ocid1.user.oc1.1234"
export TF_VAR_fingerprint="AA:aa:a1:12:34:56..."
export TF_VAR_private_key="-----BEGIN PRIVATE KEY-----\nsecret\n-----END PRIVATE KEY-----"
export TF_VAR_parent_compartment_id="ocid1.tenancy.oc1.1234" # Parent comportment

### IBM
# https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs#environment-variables
export TF_VAR_ibm_account_id="123456789"
export TF_VAR_ibmcloud_api_key="secret"
export TF_VAR_iaas_classic_username="user"
export TF_VAR_iaas_classic_api_key="secret"

### All CSPs
export TF_VAR_public_key="ssh-rsa AAAA...= user@mac.lan"