### PacketFabric
# export PF_HOST="https://api.packetfabric.com"
export PF_TOKEN="secret"
export PF_ACCOUNT_ID="123456789" # Billing Account ID

### AWS
export TF_VAR_pf_aws_account_id="123456789"
export AWS_ACCESS_KEY_ID = "ABCDEFGH"
export AWS_SECRET_ACCESS_KEY = "secret"

### Azure
export ARM_CLIENT_ID="00000000-0000-0000-0000-000000000000"
export ARM_CLIENT_SECRET="00000000-0000-0000-0000-000000000000"
export ARM_SUBSCRIPTION_ID="00000000-0000-0000-0000-000000000000"
export ARM_TENANT_ID="00000000-0000-0000-0000-000000000000"

### Google
export TF_VAR_gcp_project_id="my-project-id"
export TF_VAR_gcp_credentials_path="/Users/myuser/secret.json"
# export GOOGLE_CREDENTIALS="secret"

### Oracle
# https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm
export TF_VAR_tenancy_ocid="ocid1.tenancy.oc1..1234"
export TF_VAR_user_ocid="ocid1.user.oc1.1234"
export TF_VAR_fingerprint="AA:aa:a1:12:34:56..."
export TF_VAR_private_key="-----BEGIN PRIVATE KEY-----\nsecret\n-----END PRIVATE KEY-----"
export TF_VAR_parent_compartment_id="ocid1.tenancy.oc1.1234" # Parent comportment

### IBM
# https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs#environment-variables
export PF_IBM_ACCOUNT_ID="123456789"
export IC_API_KEY="ibmcloud_api_key"
export IAAS_CLASSIC_USERNAME="iaas_classic_username"
export IAAS_CLASSIC_API_KEY="iaas_classic_api_key"

### All CSPs
export TF_VAR_public_key="ssh-rsa AAAA...= user@mac.lan"