# PacketFabric
pf_account_uuid = "abcd-ebgh-ijkl-mnop-qrst" # Billing Account ID
pf_api_key = "api-secret"

### IBM
# https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs#environment-variables
ibm_account_id="1234"
ibmcloud_api_key="secret"
iaas_classic_username="user"
iaas_classic_api_key="secret"

### Oracle
# https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/terraformproviderconfiguration.htm
tenancy_ocid="ocid1.tenancy.oc1.1234"
user_ocid="ocid1.user.oc1.1234"
fingerprint="11:aa:1b:12:33:3d:11:22:33:44:55:66:77:8a:9e:00"
private_key="secret"
compartment_id="ocid1.tenancy.1234" # Parent comportment

public_key = "ssh-rsa AAAA...= user@mac.lan" # to access the VM created in Oracle and IBM
