# Google
gcp_project_id = "my-project-id"
gcp_credentials = "/Users/myuser/secret.json" # Path + Name of the JSON file containing your GCP credentials

# PacketFabric
pf_account_uuid = "abcd-ebgh-ijkl-mnop-qrst" # Billing Account ID
pf_api_key = "api-secret"